# Database
DATABASE_URL=postgresql://user:password@hostname:5432/database

# Django
SECRET_KEY=83hlh$q&hxl-0n%q@iun@xp=)snhojngr+-ztw75!2w^4(!b8o
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,your-domain.com

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://your-domain.com

# Email (optional)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend